.first {
  height: 100%;
}

#root>div {
  background: rgba(198, 198, 198, 1);
  ~div{
  background: rgba(198, 198, 198, 0.5);

  }
}

.image360 {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;

  .a {
    width: 100%;
    height: 300px !important;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    pointer-events: none;
  }
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-1 {
  transition: all 2.5s ease-in;
  -webkit-transition: all 2.5s ease-in;
  -moz-transition: all 2.5s ease-in;
  position: fixed;
  bottom: 115px;
  width: 250px;
  height: 50%;
  right: 24px;
  max-width: calc(100% - 48px - 60px);
  max-height: calc(100%-48px - 60px);
  z-index: 1;
}

.quill {
  .ql-toolbar {
    position: sticky;
    top: 5%;
    background: #b9afaf;
    z-index: 2;
  }

  .ql-container.ql-snow {
    height: 95%;
  }
}


.quill-chat {
  display: flex;
  width: 100%;

  .ql-container {
    flex-grow: 1;

    .ql-editor[contenteditable=false] {
      background-color: grey;
    }
  }

  img {
    height: 50px;
    width: 50px;
  }
}

.chat-client img {
  height: 50px;
  width: 50px;
}





.description img {
  width: 100%;
  height: 100%;
}